<!doctype html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>

  <!-- Basic Page Needs
  ================================================== -->
  <meta charset="utf-8" />
  <title>
    {% if page.title == 'GORUCO' %}
      {{ page.title }}
    {% else %}
      {{ page.title | append:' &#8212; GORUCO' }}
    {% endif %}


  </title>
  <meta name="description" content="{{ page.meta }}">
  <meta name="author" content="{{ page.author }}">
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <!-- Mobile Specific Metas
  ================================================== -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

  <!-- CSS
  ================================================== -->
  <link rel="stylesheet" href="/stylesheets/base.css">
  <link rel="stylesheet" href="/stylesheets/skeleton.css">
  <link rel="stylesheet" href="/stylesheets/layout.css">
  <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />

  <!-- Favicons
  ================================================== -->
  <link rel="shortcut icon" href="/images/favicon.ico">
  <script type="text/javascript" src="http://use.typekit.com/snp4yyl.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
{% include analytics.html %}

</head>
<body>





  <!-- Primary Page Layout
  ================================================== -->

  <div class="container">

    <div class="three columns">
      <a href="/" id="goruco">GORUCO</a>
      <ul id="nav">
        <li><a href="/about" id="about">About</a></li>
        <li><a href="/venue" id="venue">Venue</a></li>
        <li><a href="/2011" id="2011">2011 Conference</a></li>
      </ul>

    </div>

