/* line 8, ../sass/screen.sass */
#goruco {
  background: transparent url(/images/icons/goruco.png) 0 0 no-repeat;
  height: 47px;
  width: 44px;
  display: block;
  float: right;
  text-indent: -99999px;
  clear: both;
  margin: 40px 10px 40px 0;
}

/* line 18, ../sass/screen.sass */
.main {
  margin-top: 110px;
  border-left: 2px solid #c93925;
  margin-left: 38px;
  padding-left: 20px;
}

/* line 24, ../sass/screen.sass */
a, a:visited {
  color: #c93925;
}

/* line 26, ../sass/screen.sass */
a:hover {
  text-decoration: none;
}

/* line 29, ../sass/screen.sass */
body {
  color: #232323;
  font-family: georgia;
  font-size: 16px;
  line-height: 20px;
}

/* line 35, ../sass/screen.sass */
img {
  margin-bottom: 20px;
}

/* line 39, ../sass/screen.sass */
figure img {
  margin: 0;
}
/* line 41, ../sass/screen.sass */
figure figcaption {
  font-size: 12px;
  color: #545454;
  line-height: 15px;
  margin-bottom: 20px;
}

/* line 48, ../sass/screen.sass */
h1, h2, h3, h4, h5 {
  font-family: "proxima-nova", sans-serif;
}

/* line 50, ../sass/screen.sass */
h1 {
  font-weight: bold;
}

/* line 53, ../sass/screen.sass */
p {
  margin-bottom: 30px;
}

/* line 56, ../sass/screen.sass */
.post-details {
  color: #818181;
  font-size: 12px;
}

/* line 62, ../sass/screen.sass */
ul#nav {
  list-style: none;
  clear: both;
}
/* line 65, ../sass/screen.sass */
ul#nav li {
  margin-left: 0;
  text-align: right;
  margin-bottom: 0;
}
/* line 69, ../sass/screen.sass */
ul#nav li a, ul#nav li a:visited {
  color: #232323;
  padding: 10px 20px 10px 10px;
  display: block;
  text-decoration: none;
}
/* line 74, ../sass/screen.sass */
ul#nav li a.active, ul#nav li a:hover {
  background: #2c2b25 url(/images/icons/wedge.png) right center no-repeat;
  color: white;
}

/* line 79, ../sass/screen.sass */
ul.org-links {
  list-style: none;
}
/* line 81, ../sass/screen.sass */
ul.org-links a {
  padding-left: 25px;
  line-height: 30px;
}
/* line 84, ../sass/screen.sass */
ul.org-links a.link {
  background: url(/images/icons/link.png) left center no-repeat;
}
/* line 86, ../sass/screen.sass */
ul.org-links a.twitter {
  background: url(/images/icons/twitter.png) left center no-repeat;
}
/* line 88, ../sass/screen.sass */
ul.org-links a.git {
  background: url(/images/icons/git.png) left center no-repeat;
}
/* line 90, ../sass/screen.sass */
ul.org-links li {
  margin: 0;
}

/* line 93, ../sass/screen.sass */
ul {
  list-style: disc;
}
/* line 95, ../sass/screen.sass */
ul li {
  margin-left: 30px;
}

/* line 99, ../sass/screen.sass */
.organizers {
  margin-bottom: 40px;
}

/* line 102, ../sass/screen.sass */
.video-holder {
  height: 350px;
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
  /* line 106, ../sass/screen.sass */
  .main {
    margin: 0;
    border: 0;
    padding: 0;
  }

  /* line 111, ../sass/screen.sass */
  ul#nav li a {
    text-align: left;
  }

  /* line 113, ../sass/screen.sass */
  #goruco {
    float: left;
  }
}
@media only screen and (max-width: 479px) {
  /* line 116, ../sass/screen.sass */
  .main {
    margin: 0;
    border: 0;
    padding: 0;
  }

  /* line 121, ../sass/screen.sass */
  ul#nav li a {
    text-align: left;
  }

  /* line 123, ../sass/screen.sass */
  #goruco {
    float: left;
  }
}
/* line 126, ../sass/screen.sass */
.manycols {
  clear: left;
}
